*{
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color:#F6F8F9 ;
}

/*intestazinone header  */

header div h1{
  display: inline-block;
  font-family:sans-serif;
  vertical-align: 25%;
  line-height: 60px;
}

header{
  background-color: white;
}

header div{
  margin-left: 5%;
  margin-top: 5px;
}

/* corpo del sito */
main{
  margin-top: 5%;
}

section{
  width: 70%;
  margin: auto;
  background-color: white;
}

/* prima sezione */
.first{
 line-height: 50px;
 border-radius: 5px;
}

.first div{
  margin-left:10% ;
}

button{
  border-radius: 5px;
  line-height:25px ;
  background-color:#47ADF1 ;
  border: none;
  font-family:sans-serif;
  color: white;
}

.special-bottom{
  border: 1px solid;
  background-color:white;
  color:#D1D6DA ;
}

/* seconda macro-sezione */